<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ch.nblotti.psd2.db">


    <dist:module
        dist:instant="false"
        dist:title="@string/db_module_name">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="ch.nblotti.psd2.db.DeutscheBankAuthenticatorActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="myapppsd2" />
                <data android:host="redirect" />
            </intent-filter>
        </activity>

        <service
            android:name="ch.nblotti.psd2.db.DeutscheBankAuthenticatorService"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/accountauthenticator" />
        </service>
    </application>

</manifest>